.page-container {
    .box-detail-container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .box-operation-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            Button {
                display: flex;
                gap: 0.3rem;
                border-radius: 5px;
                width: fit-content;
                padding: 6px 12px 6px 8px;
            }
            .delete-button {
                background-color: #d32f2f;

            }
            .edit-button {
                background-color: #388E3C;
            }
            .save-button {
                background-color: #2E7D32;
            }
            .cancel-button {
                background-color: #757575;
            }
        }

        .box-description {
            text-align: left;
        }
    }

    .box-detail-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: solid 1px #e0e0e0;

        .box-detail-header-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .box-detail-header-top-left {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }
        }
        
        .generate-qr-code-button {
            display: flex;
            gap: 0.5rem;
            border-radius: 5px;
            padding-right: 17.5px;
        }
    }

    
}

.get-box-status {
    padding: 20px;
}