.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .custom-form-container {
        margin: auto;
    }

    .img-container {
        margin: auto;
    }

    .login-img {
        width: 700px;
        max-width: 700px;
    }
}