.navbar-container {
    text-align: left;
    margin: 0 0 5px 0;
    padding: 2px  0 0 16px;
    background: rgb(240, 240, 240);

    .banner-button {
        font-family: Brush Script MT;
        color: cornflowerblue;
        font-size: 50px;
        padding: 0;
        text-transform: none;
        text-decoration: none;
        border: none;
        outline: none;
    }
}