.banner-button {
    font-family: Brush Script MT;
    color: cornflowerblue;
    font-size: 50px;
    padding: 0;
    text-transform: none;
    text-decoration: none;
    border: none;
    outline: none;
}